# Ignorar el entorno virtual
venv/

# Archivos de configuración del entorno
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de dependencias
*.log

#flask_session
flask_session/
flask_session/2029240f6d1128be89ddc32729463129
/flask_session
