

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.container {
/*    max-width: 600px; /* Ajusta el tamaño del contenedor 
    width: 100%;*/
    width: 800px;
    height: 500px;
/*    padding: 20px; /* Puedes ajustar este padding según lo que necesites */
/*    background-color: #007bff; /* Color de fondo (bg-primary en Bootstrap) */
    border-radius: 10px; /* Ajusta si lo necesitas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto visual */
    justify-content: center;
}


body{
background-color: #f2f3f6;
}

form .form-control {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
    max-width: 400px; /* Puedes ajustar este valor según tus necesidades */
    margin-bottom: 15px; /* Añade espacio entre los campos */
}

.text-blanco{
    color: white;
}

.text-primary {
    color: #5DB3B7 !important;/* Color de Bootstrap para h2 */
}

.text-secundary {
    color: white !important;
}


.bg{
    background-color: #5DB3B7;
}

.bg-primary{
    background-color: rgba(242, 243, 246, 0.45) !important;
}

.btn-primary {
    background-color: #5DB3B7;
    border-radius: 10px;
    border-color: #5DB3B7;
    display: flex; 
    justify-content: center;
    align-items: center; 
}



