@ -1,74 +1,74 @@
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos - Sistema de Gestión Académica</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script>
      /*  function showTab(tabName) {
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => tab.style.display = 'none');

            const activeTab = document.getElementById(tabName);
            if (activeTab) {
                activeTab.style.display = 'block';
            }

            const tabButtons = document.querySelectorAll('.tabs button');
            tabButtons.forEach(button => button.classList.remove('active'));
            document.getElementById(tabName + '-btn').classList.add('active');
        }

        window.onload = function() {
            showTab('alumnos'); // Mostrar la pestaña de Alumnos por defecto
        };*/
    </script>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="content">
            <h2>Gestión de Alumnos</h2>
            <div class="tabs">
                <button id="alumnos-btn" onclick="showTab('alumnos')" class="active">Alumnos</button>
            </div>

            <!-- Contenido de cada tab -->
            <div id="alumnos" class="tab-content">
                <table>
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario[0] }}</td> <!-- id_usuario -->
                            <td>{{ usuario[1] }}</td> <!-- dni -->
                            <td>{{ usuario[2] }}</td> <!-- nombre_apellido -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="table-container">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>ID Usuario</th>
                                    <th>ID Sexo</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Lugar Nacimiento</th>
                                    <th>ID Estado Civil</th>
                                    <th>Cantidad de Hijos</th>
                                    <th>Familiares a Cargo</th>
                                    <th>Domicilio</th>
                                    <th>Piso</th>
                                    <th>ID Localidad</th>
                                    <th>ID País</th>
                                    <th>ID Provincia</th>
                                    <th>Código Postal</th>
                                    <th>Teléfono</th>
                                    <th>Teléfono Alternativo</th>
                                    <th>Propietario Tel. Alt.</th>
                                    <th>Email</th>
                                    <th>Título Base</th>
                                    <th>Año Egreso</th>
                                    <th>ID Institución</th>
                                    <th>Otros Estudios</th>
                                    <th>Año Egreso Otros</th>
                                    <th>Trabaja</th>
                                    <th>Actividad</th>
                                    <th>Obra Social</th>
                                    <th>Contraseña</th>
                                    <th>Activo</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    {% for campo in usuario %}
                                    <td>{{ campo }}</td>
                                    {% endfor %}
                                    <td>
                                        <a href="{{ url_for('editar_alumno', id_usuario=usuario[0]) }}" class="btn btn-primary">Ver/Editar</a>
                                        <form action="{{ url_for('borrar_alumno', id_usuario=usuario[0]) }}" method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-danger">Borrar</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Contenido de la pestaña de Pre-Inscripciones -->
            <div id="pre_inscripciones" class="tab-content">
                <h3>Listado de Pre-Inscripciones</h3>
                <div class="table-container">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>ID Usuario</th>
                                    <th>ID Sexo</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Lugar Nacimiento</th>
                                    <th>ID Estado Civil</th>
                                    <th>Cantidad de Hijos</th>
                                    <th>Familiares a Cargo</th>
                                    <th>Domicilio</th>
                                    <th>Piso</th>
                                    <th>ID Localidad</th>
                                    <th>ID País</th>
                                    <th>ID Provincia</th>
                                    <th>Código Postal</th>
                                    <th>Teléfono</th>
                                    <th>Teléfono Alternativo</th>
                                    <th>Propietario Tel. Alt.</th>
                                    <th>Email</th>
                                    <th>Título Base</th>
                                    <th>Año Egreso</th>
                                    <th>ID Institución</th>
                                    <th>Otros Estudios</th>
                                    <th>Año Egreso Otros</th>
                                    <th>Trabaja</th>
                                    <th>Actividad</th>
                                    <th>Horario Habitual</th>
                                    <th>Obra Social</th>
                                    <th>Contraseña</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pre_inscripcion in pre_inscripciones %}
                                <tr>
                                    {% for campo in pre_inscripcion %}
                                    <td>{{ campo }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>
