<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos - Sistema de Gestión Académica</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script>
        function showTab(tabName) {
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => tab.style.display = 'none');

            const activeTab = document.getElementById(tabName);
            if (activeTab) {
                activeTab.style.display = 'block';
            }

            const tabButtons = document.querySelectorAll('.tabs button');
            tabButtons.forEach(button => button.classList.remove('active'));
            document.getElementById(tabName + '-btn').classList.add('active');
        }

        window.onload = function() {
            showTab('alumnos'); // Mostrar la pestaña de Alumnos por defecto
        };
    </script>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="content">
            <h2>Gestión de Alumnos</h2>
            <div class="tabs">
                <button id="alumnos-btn" onclick="showTab('alumnos')" class="active">Alumnos</button>
            </div>

            <!-- Contenido de cada tab -->
            <div id="alumnos" class="tab-content">
                <h3>Listado de Alumnos</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario[0] }}</td> <!-- id_usuario -->
                            <td>{{ usuario[1] }}</td> <!-- dni -->
                            <td>{{ usuario[2] }}</td> <!-- nombre_apellido -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
