<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos - Sistema de Gestión Académica</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script>
        function showTab(tabName) {
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => tab.style.display = 'none');

            const activeTab = document.getElementById(tabName);
            if (activeTab) {
                activeTab.style.display = 'block';
            }

            const tabButtons = document.querySelectorAll('.tabs button');
            tabButtons.forEach(button => button.classList.remove('active'));
            document.getElementById(tabName + '-btn').classList.add('active');
        }

        window.onload = function() {
            const table = '{{ table }}';  // Saber qué tabla está seleccionada (alumnos o pre_inscripciones)
            if (table === 'pre_inscripciones') {
                showTab('pre_inscripciones');
            } else {
                showTab('alumnos');  // Por defecto mostramos alumnos
            }
        };
    </script>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="content">
            <div class="menu-interno">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Matriculación</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"   
                     aria-selected="false" onclick="window.location.href='alumnos?page=1&table=pre_inscripciones'">Inscripciones</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"   
                     aria-selected="false" onclick="window.location.href='alumnos?page=1&table=alumnos'">Alumnos</a>
                    </li>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Egresados</a>
                    </li>
                </ul>
            </div>

            <!-- Contenido de la pestaña de Alumnos -->
            <div id="alumnos" class="tab-content">
                <h5>Listado de Alumnos</h5>
                <div class="table-container">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Ciudad</th>
                                    <th>Teléfono</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for alumno in alumnos %}
                                <tr>
                                    {% for campo in alumno %}
                                    <td>{{ campo or '' }}</td>
                                    {% endfor %}
                                    <td>
                                        <a href="{{ url_for('editar_alumno', id_usuario=alumno[0]) }}" class="btn btn-primary">Ver/Editar</a>
                                        <form action="{{ url_for('borrar_alumno', id_usuario=alumno[0]) }}" method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-danger">Borrar</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Paginación de Alumnos -->
                {% if total_paginas_alumnos %}
                <div class="pagination">
                    <ul class="pagination">
                        {% for p in range(1, total_paginas_alumnos + 1) %}
                        <li class="page-item {% if p == page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('alumnos', page=p, table='alumnos') }}">{{ p }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <!-- Contenido de la pestaña de Pre-Inscripciones -->
            <div id="pre_inscripciones" class="tab-content">
                <h5>Listado de Pre-Inscripciones</h5>
                <div class="table-container">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Ciudad</th>
                                    <th>Teléfono</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pre_inscripcion in pre_inscripciones %}
                                <tr>
                                    {% for campo in pre_inscripcion %}
                                    <td>{{ campo or '' }}</td>
                                    {% endfor %}
                                    <td>
                                        <a href="{{ url_for('editar_ingresante', id_usuario=pre_inscripcion[0]) }}" class="btn btn-primary">Ver/Dar de alta</a>
                                        <form action="{{ url_for('borrar_ingresante', id_usuario=pre_inscripcion[0]) }}" method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-danger">Borrar</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Paginación de Pre-Inscripciones -->
                {% if total_paginas_pre_inscripciones %}
                <div class="pagination">
                    <ul class="pagination">
                        {% for p in range(1, total_paginas_pre_inscripciones + 1) %}
                        <li class="page-item {% if p == page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('alumnos', page=p, table='pre_inscripciones') }}">{{ p }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>
