<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Sistema de Gestión Académica</title>
    <link href="static\img\LOGO-SIN-FONDO-1000x707-1.png" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="content">
            <div class="header">
                <i class="fas fa-home"></i>
                Bienvenido, {{ nombre }}
            </div>
            <div class="tabs">
                <div class="active">Alumnos</div>
                <div>Inscripciones</div>
                <div>Matriculación</div>
                <div>Egresados</div>
            </div>
            <div class="welcome">
                <p>Seleccione una opción del menú para gestionar el sistema académico.</p>
            </div>
        </div>
    </div>
</body>
</html>
