<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Inscripción - Sistema de Gestión Académica</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body{
            justify-content: center;
            display: flex;
            align-items: center; /* Centrar verticalmente */
            height: 100vh; /* Ocupa toda la altura de la ventana */
        }
    </style>
    <script>
        function updateTurno() {
            const carreraSelect = document.getElementById('carrera');
            const turnoSelect = document.getElementById('turno');
            if (carreraSelect.value) {
                turnoSelect.value = carreraSelect.value === '1' ? 'Mañana' : 'Tarde';
                turnoSelect.disabled = true;
            } else {
                turnoSelect.disabled = false;
                turnoSelect.value = '';
            }
        }
    </script>
</head>
<body>
    <div class="container" id="cont-insc">
        {% include 'navbar.html' %}
        
        <div class="form-container" id="form-insc">
            <h3>Datos Personales</h3>
            <form method="POST" action="/pre_inscripcion_2">
                <div class="form-row" id="campos-form">
                    <div class="form-group">
                        <label for="nombre_apellido">Apellido y Nombres:</label>
                        <input type="text" id="nombre_apellido" name="nombre_apellido" required>
                    </div>
                    <div class="form-group">
                        <label for="id_sexo">Sexo:</label>
                        <select id="id_sexo" name="id_sexo" required>
                            <option value="">Seleccionar</option>
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI:</label>
                        <input type="number" id="dni" name="dni" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
                    </div>
                    <div class="form-group">
                        <label for="lugar_nacimiento">Lugar de Nacimiento:</label>
                        <input type="text" id="lugar_nacimiento" name="lugar_nacimiento" required>
                    </div>
                    <div class="form-group">
                        <label for="id_estado_civil">Estado Civil:</label>
                        <select id="id_estado_civil" name="id_estado_civil" required>
                            <option value="">Seleccione</option>
                            <option value="1">Soltero/a</option>
                            <option value="2">Casado/a</option>
                            <option value="3">Divorciado/a</option>
                            <option value="4">Viudo/a</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cantidad_hijos">Cantidad de Hijos:</label>
                        <input type="number" id="cantidad_hijos" name="cantidad_hijos" min="0" required>
                    </div>
                    <div class="form-group">
                        <label for="familiares_a_cargo">Familiares a Cargo:</label>
                        <input type="number" id="familiares_a_cargo" name="familiares_a_cargo" min="0" required>
                    </div>
                    <div class="form-group">
                        <label for="domicilio">Domicilio:</label>
                        <input type="text" id="domicilio" name="domicilio" required>
                    </div>
                    <div class="form-group">
                        <label for="piso">Piso:</label>
                        <input type="text" id="piso" name="piso">
                    </div>
                    <div class="form-group">
                        <label for="id_pais">Pais:</label>
                        <input type="text" id="id_pais" name="id_pais">
                    </div>
                    <div class="form-group">
                        <label for="id_provincia">Provincia:</label>
                        <input type="text" id="id_provincia" name="id_provincia" required>
                    </div>
                    <div class="form-group">
                        <label for="id_localidad">Localidad:</label>
                        <input type="text" id="id_localidad" name="id_localidad" required>
                    </div>
                    <div class="form-group">
                        <label for="codigo_postal">Código Postal:</label>
                        <input type="text" id="codigo_postal" name="codigo_postal" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="int" id="telefono" name="telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono_alt">Teléfono Alternativo:</label>
                        <input type="int" id="telefono_alt" name="telefono_alt">
                    </div>
                    <div class="form-group">
                        <label for="telefono_alt_propietario">A quién pertenece el teléfono alternativo:</label>
                        <input type="text" id="telefono_alt_propietario" name="telefono_alt_propietario">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="carrera">Carrera:</label>
                        <select id="carrera" name="carrera" onchange="updateTurno()" required>
                            <option value="">Seleccione una carrera</option>
                            <option value="1">Analista de Sistemas</option>
                            <option value="2">Profesorado de Matemáticas</option>
                            <option value="3">Profesorado de Economía</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="turno">Turno:</label>
                        <select id="turno" name="turno" required>
                            <option value="Mañana">Mañana</option>
                            <option value="Tarde">Tarde</option>
                        </select>
                    </div>
                </div>
                <div class="actions" id="boton-siguiente">
                    <button type="submit" class="btn-primary" id="btn-siguiente">Siguiente</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>
