<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretaría - Instituto 148</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body style="padding-left:250px">
    {% include 'navbar.html' %}

    <div class="container">
        <h2>Enviar un mensaje a los usuarios</h2>
        <form method="POST" action="{{ url_for('enviar_mensaje') }}">
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Enviar Mensaje</button>
        </form>

        <h2>Gestor de finales</h2>
        <a href="{{ url_for('crear_mesa') }}" class="btn btn-info btn-sm">Crear Mesa</a>

        <h2>Gestor de Notas</h2>
        <a href="{{ url_for('gestor_notas') }}" class="btn btn-info btn-sm">Gestor de Notas</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>